@model YehorNET.Models.EducationViewModel

@{
    ViewData["Title"] = "AddEducation";
}


<div class="create-page">

    <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Add education</h1>

        @if (!string.IsNullOrEmpty((string)ViewBag.ReturnUrl))
        {
            <a href="@ViewBag.ReturnUrl">Go back</a>
        }
    </div>

    <form asp-action="AddEducation">
        @Html.Hidden("id", (object)ViewBag.DoctorId)
        @Html.Hidden("callbackUrl", (string)ViewBag.ReturnUrl)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" required />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SubTitle" class="control-label"></label>
            <input asp-for="SubTitle" class="form-control" required />
            <span asp-validation-for="SubTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="From" class="control-label"></label>
            <input asp-for="From" class="form-control" required />
            <span asp-validation-for="From" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="To" class="control-label"></label>
            <input asp-for="To" class="form-control" required />
            <span asp-validation-for="To" class="text-danger"></span>
        </div>

        <div class="form-group" style="flex-basis: 100%;">
            <button style="width: 50%; margin: 0 auto; display: block" class="btn btn-primary">Add education</button>
        </div>
    </form>
</div>
            

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
