@model YehorNET.Models.CreateClinicViewModel

@{
    ViewData["Title"] = "Create clinic";
}


<div class="create-page">

    <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Create clinic</h1>

       <a href="@ViewBag.ReturnUrl">Go back</a>
    </div>

    <form asp-action="Create">
        @Html.Hidden("callbackUrl", (string)ViewBag.ReturnUrl)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactPhone" class="control-label"></label>
            <input asp-for="ContactPhone" class="form-control" />
            <span asp-validation-for="ContactPhone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SiteUrl" class="control-label"></label>
            <input asp-for="SiteUrl" class="form-control" />
            <span asp-validation-for="SiteUrl" class="text-danger"></span>
        </div>

        <div class="form-group" style="flex-basis: 100%;">
            <button style="width: 50%; margin: 0 auto; display: block" class="btn btn-primary">Create clinic</button>
        </div>
    </form>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
