@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    @using (Html.BeginForm("List", "Doctors", FormMethod.Get, new { @class = "home-page__form" }))
    {
        <p class="home-page__desc">
            какое-то описание
            я хуй знает чо написать
        </p>

        <div class="row justify-content-between">
            <div style="width: 50%">
                <label for="searchString" class="form-label">Search by names</label>
                <input type="text" class="form-control" aria-describedby="search" placeholder="Enter name" name="searchString" id="searchString">
                <small>Leave empty to search for all</small>
            </div>
            <div style="width: 50%">
                <label for="filterString" class="form-label">Filter by specialty</label>
                @Html.DropDownList("treatments", (IEnumerable<SelectListItem>)ViewBag.TreatFilter, new { @class = "form-select", @id = "filterString" })
            </div>
        </div>

        <button class="btn btn-primary">Search doctors</button>
    }
</div>
