@{
    ViewData["Title"] = "Sign up";
}

<div class="auth-up-page">
    <h1>Sign up</h1>

    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "auth-up-page__form" }))
    {
        <div class="form-group mb-4">
            <label for="inputName" class="mb-2">Username</label>
            <input type="text" class="form-control mb-2" aria-describedby="emailHelp" placeholder="Enter username" name="name" id="inputName" required>
            <small class="form-text text-muted">Name must be unique</small>
        </div>

        <div class="form-group mb-4">
            <label for="inputPassword" class="mb-2">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" id="inputPassword" required>
        </div>

        <button class="btn btn-primary" style="width: 100%;">Create account</button>
    }
</div>
